html, body {
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.mb { margin-bottom: 1rem; }
.mr { margin-right: 1rem; }
.ml { margin-left: 1rem; }
.mt { margin-top: 1rem; }

.rounded { border-radius: 1rem; }

main {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ffffff47;
    border-radius: 1rem;
}